body{

background:#111;

font-family:Arial;

color:white;

margin:0;

padding:0;

}

.container{

width:70%;

margin:auto;

margin-top:60px;

text-align:center;

}

input{

width:60%;

padding:15px;

font-size:18px;

border-radius:8px;

border:none;

}

button{

padding:15px 30px;

font-size:18px;

background:red;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

margin-left:10px;

}

button:hover{

background:#ff4444;

}

ul{

list-style:none;

padding:0;

}

li{

background:#222;

margin:10px;

padding:15px;

border-radius:8px;

font-size:20px;

}

a{

color:white;

text-decoration:none;

font-size:20px;

}